<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-link-like {
            display: inline-block;
            padding: 0;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            border: none;
            background: none;
            color: #007bff;
            /* Link color */
            cursor: pointer;
        }

        .btn-link-like:hover {
            text-decoration: underline;
            color: #0056b3;
            /* Darker color on hover */
        }

        .btn-link-like:focus {
            outline: none;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <main class="form-signin w-100 m-auto">
                            <form id="loginForm" method="post">
                                <img class="mb-4" src="/assets/images/hosp.png" alt="Hospital Image" width="300"
                                    height="300">
                                <h1 class="h3 mb-3 fw-normal">Log in</h1>
                                <div>
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div><label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button class="mt-2 btn btn-primary w-100 py-2" type="submit">Log in</button>
                            </form>
                            <a class="nav-link" th:href="@{/register(from='login')}">Register a new account</a>
                            <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="\js\config.js"></script>
    <script>
        $(document).ready(function () {
            $('#loginForm').on('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                var userData = {
                    username: $('#username').val(),
                    password: $('#password').val()
                };

                $.ajax({
                    type: 'POST',
                    url: CONFIG.BASE_URL + '/api/v1/login',
                    contentType: 'application/json',
                    data: JSON.stringify(userData),
                    success: function (response) {
                        if (response.data != null && response.data.loginSuccess == true) {
                            alert('Login success: ' + response.message);
                            // Prepare parameters
                            const params = new URLSearchParams({
                                employeeId: response.data.employeeId,
                            }).toString();
                            // Redirect to index page with parameters
                            window.location.href = '/index?' + params;
                            // window.location.href = '/index'; // Redirect to index page
                        } else {
                            alert('Login failed: ' + response.message);
                        }
                    },
                    error: function (error) {
                        alert('Error logging in: ' + JSON.stringify(error));
                    }
                });
            });
        });
    </script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>