<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading pl-4" id="sidebar-heading" style="font-weight: bold; color: #007bff;">
        Dashboard
    </div>
    <div class="list-group list-group-flush">
        <a id="indexLink" href="/index" class="list-group-item list-group-item-action bg-light">Dashboard</a>

        <!-- User Label -->
        <div class="sidebar-label pl-4 mt-2 mb-2"
            style="font-size: 12px; background-color: #343a40; color: #ffffff; padding: 5px 10px;">
            User Management
        </div>
        <a id="profileLink" href="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a id="usersLink" href="/users" class="list-group-item list-group-item-action bg-light">Users</a>

        <!-- Patients Label -->
        <div class="sidebar-label pl-4 mt-2 mb-2"
            style="font-size: 12px; background-color: #343a40; color: #ffffff; padding: 5px 10px;">
            Patient Management
        </div>
        <a id="bedsLink" href="/beds" class="list-group-item list-group-item-action bg-light">Beds List</a>
        <a id="registerPatientLink" href="/registerPatient"
            class="list-group-item list-group-item-action bg-light">Register Patient</a>
        <a id="patientsLink" href="/patients" class="list-group-item list-group-item-action bg-light">Patients List</a>
        <a id="admissionLink" href="/admissions" class="list-group-item list-group-item-action bg-light">Admission
            List</a>

        <!-- Patient Satisfaction Management Label -->
        <div class="sidebar-label pl-4 mt-2 mb-2"
            style="font-size: 12px; background-color: #343a40; color: #ffffff; padding: 5px 10px;">
            Patient Satisfaction Management
        </div>
        <a id="pageLink" href="/categories" class="list-group-item list-group-item-action bg-light">Categories</a>
        <a id="pageLink" href="/measurements" class="list-group-item list-group-item-action bg-light">Measurement</a>
        <a id="pageLink" href="/feedbackForm" class="list-group-item list-group-item-action bg-light">Submit New
            Satisfaction</a>
        <a id="pageLink" href="" class="list-group-item list-group-item-action bg-light">View Satisfaction Report</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- <script src="\js\config.js"></script>  -->
<script>
    $(document).ready(async function () {
        var urlParams = new URLSearchParams(window.location.search);
        var employeeId = urlParams.get('employeeId');
        const url = CONFIG.BASE_URL + "/api/v1/userByEmployeeId/" + employeeId;
        var userData;
        try {
            userData = await fetchData(url);
            console.log(userData);
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
        }

        $('.list-group a').each(function () {
            var currentHref = $(this).attr('href');
            $(this).attr('href', currentHref + '?employeeId=' + employeeId);
        });
        if (userData.data.doctor == true) {
            $('#usersLink').hide();
            $('#registerPatientLink').hide();
            $('#admissionLink').hide();
        }
    });

    async function fetchData(url) {
        return $.ajax({
            url: url,
            type: 'GET'
        });
    }
</script>