<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- boleh jadikan contoh -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Page 1</title>
</head>

<body>
    <!-- Header container -->
    <div id="header-container"></div>

    <div id="wrapper">
        <!-- Sidebar container -->
        <div id="sidebar-container"></div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1 class="mt-4">Page 1 Content</h1>
                <p>This is the content for Page 1.</p>
            </div>
        </div>
    </div>

    <!-- Footer container -->
    <div id="footer-container"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="\js\config.js"></script>
    <script>
        $(document).ready(async function () {
            var urlParams = new URLSearchParams(window.location.search);
            var userId = urlParams.get('userId');
            const url = CONFIG.BASE_URL +"/api/v1/userById/" + userId;
            var userData;
            var loginType;
            try {
                userData = await fetchData(url);
                console.log(userData);
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
            if (userData.success == true) {
                loginType = userData.data.admin == true ? "ADMIN" : "DOCTOR";
            }
            $("#header-container").load("header");
            $("#sidebar-container").load("sidebar", function () {
                // Dynamically set sidebar heading from URL
                $("#sidebar-heading").text(loginType + " VIEW");
            });
            $("#footer-container").load("footer");
        });

        async function fetchData(url) {
            return $.ajax({
                url: url,
                type: 'GET'
            });
        }
    </script>
</body>

</html>