<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Measurement</title>
</head>
<body>
<h1>Edit Measurement</h1>
<form th:action="@{/measurements/edit/{id}(id=${measurement.id})}" th:object="${measurement}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}">
    <label for="category">Category:</label>
    <select id="category" name="category" th:field="*{category.id}">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <button type="submit">Update</button>
</form>
</body>
</html>
